<div class="d-flex">
  <img
    src="https://mika.mikroskil.ac.id/bundles/mikaglobal/images/berita.png"
    class="d-none d-md-block mr-3"
    style="height: 60px"
  />
  <div>
    <h6 class="mb-0">
      <a href="/berita/detail/<%= berita.id %>" class="news-title"> <%= berita.title %> </a>
    </h6>
    <span class="news-category"> <%= berita.newsCategoriesName %> </span>
    <span class="news-date">
      <% beritaDate = new Date(berita.createdAt) %> 
      - <%=
      beritaDate.toLocaleDateString('en-GB', { day: 'numeric', month: 'short',
      year: 'numeric' }) + " " + beritaDate.getHours() + ":" +
      beritaDate.getMinutes() + ":" + beritaDate.getSeconds() %>
    </span>
  </div>

  <button id="_news-delete-<%= berita.id %>" class="btn btn-danger align-self-center ml-auto">
    <i class="fa fa-trash"></i>
  </button>
</div>

<%- include("../../partials/jquery") %>

<script>
  $(document).ready(function() {
    $("#_news-delete-<%= berita.id %>").click(function() {
      $.ajax({
        url: "/admin/berita/delete/<%= berita.id %>",
        type: "DELETE",
        success: function(data) {
          console.log($("#_news-card-<%= berita.id %>"));
          $("#_news_removeable_container-<%= berita.id %>").remove();
        },
        error: function(err) {
          console.log(err);
        }
      });
    });
  });
</script>
