<%- include("../../partials/header") %> <%-
include("../../components/Header/student") %>

<div class="container-fluid container-md px-0">
  <%- include("../../components/Global/current-login", {currentLogin}) %>
  <div class="card">
    <div class="card-header" style="background-color: #094584; color: white">
      <h4 class="card-title mb-0">Berita</h4>
    </div>
    <div class="card-body py-0">
      <div class="row">
        <% news.forEach((berita) => { %>
        <div class="col-12 col-md-6 pb-md-5 pt-2 pt-md-3 news-block-container">
          <%- include("./berita-card", {berita: berita})
          %>
        </div>
        <% }) %>
      </div>
    </div>
  </div>
</div>

<%- include("../../partials/footer") %>
