<h4 class="text-center"><u>Data Pribadi </u></h4>

<div>
  <h5>Data Pribadi dan Kontak</h5>
  <%- include('./data-pribadi-column', { key: "NIK", value: currentLogin.nik }) %> 
  <%- include('./data-pribadi-column', { key: "Tempat, Tanggal Lahir", value:
  currentLogin.placeOfBirth + ", " + new
  Date(currentLogin.dateOfBirth).toLocaleDateString('en-GB', {day: 'numeric',
  month: 'long', year: 'numeric'})}) 
  %>
  <%- include("./data-pribadi-column", {key: "Agama", value: currentLogin.religion }) %>
  <%- include("./data-pribadi-column", {key: "Jenis Kelamin", value: currentLogin.sex === "L" ? "Laki-laki": "Perempuan" }) %>
  <%- include("./data-pribadi-column", {key: "Nomor Handphone / Email", value: currentLogin.phone + " / " + currentLogin.email }) %>

  <div class="alert alert-info mt-4">
    <ol class="m-0" style="font-weight: 500; font-size: 0.9rem">
      <li>Data ini akan digunakan untuk pencetakan transkrip akademik dan ijazah.</li>
      <li>Jika terdapat kesalahan data seperti nama, tempat/tanggal lahir, dan sebagainya lapor kepada pihak BAA (Kampus A lantai 3) dengan membawa ijazah SMA.</li>
    </ol>
  </div>
</div>
