<%- include("../../../partials/header") %> <%-
include("../../../components/Student/header") %>

<div class="container-fluid container-md px-0">
  <%- include("../../../components/Global/current-login", {currentLogin}) %>
  <div class="card">
    <div
      class="card-header _profile-accordion-header"
      style="background-color: #094584; color: white"
    >
      <h4 class="card-title mb-0">Profile</h4>
    </div>
    <!-- Outer Card Body - Start -->
    <div class="card-body py-0">
      <!-- Profile Image and Main Data - Start -->
      <%- include("./main-data", {currentLogin} ) %>
      <!-- Profile Image and Main Data - End -->

      <!-- 4 Accordion - Start -->
      <div class="accordion card" id="profileAccordion">
        <div class="container-fluid flex-column flex-md-row d-flex _profile-accordion-header-container">
          <%- include("./accordion/header", { id: "data-pribadi-acc", target: "collapseOne", expanded: "true", value: "Data Pribadi" }) %>
          <%- include("./accordion/collapse", { id: "collapseOne", show: true, className: "d-md-none",label: "data-pribadi-acc", parent: "profileAccordion", content: include("./data-pribadi", {currentLogin}) }) %>
          <%- include("./accordion/header", { id: "histori-akademis-acc", target: "collapseTwo", expanded: "false", value: "History Akademis" }) %>
          <%- include("./accordion/collapse", { id: "collapseTwo", show: false, className: "d-md-none", label: "histori-akademis-acc", parent: "profileAccordion", content: "ASGASGASGSA" }) %>
          <%- include("./accordion/header", { id: "data-keuangan-acc", target: "collapseThree", expanded: "false", value: "Data Keuangan" }) %>
          <%- include("./accordion/collapse", { id: "collapseThree", show: false, className: "d-md-none", label: "data-keuangan-acc", parent: "profileAccordion", content: "TRJTRDJTRD" }) %>
          <%- include("./accordion/header", { id: "jadwal-kuliah-acc", target: "collapseFour", expanded: "false", value: "Jadwal Perkuliahan" }) %>
          <%- include("./accordion/collapse", { id: "collapseFour", show: false, className: "d-md-none", label: "jadwal-kuliah-acc", parent: "profileAccordion", content: include("./jadwal-kuliah") }) %>
        </div>

        <div class="d-none d-md-block">
          <%- include("./accordion/collapse", { id: "collapseOne", show: true, className: "", label: "data-pribadi-acc", parent: "profileAccordion", content: include("./data-pribadi", {currentLogin}) }) %>
          <%- include("./accordion/collapse", { id: "collapseTwo", show: false, className: "", label: "histori-akademis-acc", parent: "profileAccordion", content: "ASGASGASGSA" }) %>
          <%- include("./accordion/collapse", { id: "collapseThree", show: false, className: "", label: "data-keuangan-acc", parent: "profileAccordion", content: "TRJTRDJTRD" }) %>
          <%- include("./accordion/collapse", { id: "collapseFour", show: false, className: "", label: "jadwal-kuliah-acc", parent: "profileAccordion", content: include("./jadwal-kuliah") }) %>
        </div>

      </div>
      <!-- 4 Accordion - End -->
    </div>
    <!-- Outer Card Body - End -->
  </div>
</div>

<%- include("../../../partials/footer") %>
