<%- include("../../../partials/header") %> <%-
include("../../../components/Student/header") %>

<div class="container-fluid container-md px-0">
  <%- include("../../../components/Global/current-login", {currentLogin}) %>
  <div class="card">
    <div
      class="card-header _profile-accordion-header"
      style="background-color: #094584; color: white"
    >
      <h4 class="card-title mb-0">Profile</h4>
    </div>
    <!-- Outer Card Body - Start -->
    <div class="card-body py-0">
      <!-- Profile Image and Main Data - Start -->
      <%- include("./main-data") %>
      <!-- Profile Image and Main Data - End -->

      <!-- 4 Accordion - Start -->
      <div class="accordion card" id="profileAccordion">
        <div class="container-fluid d-flex _profile-accordion-header-container">
          <div class="card _profile-accordion-header-card">
            <div id="data-pribadi-acc">
              <h2 class="mb-0">
                <button
                  class="
                    btn btn-link
                    _profile-accordion-button
                    btn-block
                    text-left
                    p-3
                  "
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseOne"
                  aria-expanded="true"
                  aria-controls="collapseOne"
                >
                  Data Pribadi
                </button>
              </h2>
            </div>
          </div>
          <div class="card _profile-accordion-header-card">
            <div id="histori-akademis-acc">
              <h2 class="mb-0">
                <button
                  class="
                    btn btn-link
                    _profile-accordion-button
                    btn-block
                    text-left
                    collapsed
                    p-3
                  "
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseTwo"
                  aria-expanded="false"
                  aria-controls="collapseTwo"
                >
                  History Akademis
                </button>
              </h2>
            </div>
          </div>
          <div class="card _profile-accordion-header-card">
            <div id="data-keuangan-acc">
              <h2 class="mb-0">
                <button
                  class="
                    btn btn-link
                    _profile-accordion-button
                    btn-block
                    text-left
                    collapsed
                    p-3
                  "
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseThree"
                  aria-expanded="false"
                  aria-controls="collapseThree"
                >
                  Data Keuangan
                </button>
              </h2>
            </div>
          </div>
          <div class="card _profile-accordion-header-card">
            <div id="jadwal-kuliah-acc">
              <h2 class="mb-0">
                <button
                  class="
                    btn btn-link
                    _profile-accordion-button
                    btn-block
                    text-left
                    collapsed
                    p-3
                  "
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseFour"
                  aria-expanded="false"
                  aria-controls="collapseFour"
                >
                  Jadwal Perkuliahan
                </button>
              </h2>
            </div>
          </div>
        </div>

        <div
          id="collapseOne"
          class="collapse show"
          aria-labelledby="data-pribadi-acc"
          data-parent="#profileAccordion"
        >
          <div class="card-body"><%- include("./data-pribadi") %></div>
        </div>
        <div
          id="collapseTwo"
          class="collapse"
          aria-labelledby="histori-akademis-acc"
          data-parent="#profileAccordion"
        >
          <div class="card-body">ASGASGASGSA</div>
        </div>
        <div
          id="collapseThree"
          class="collapse"
          aria-labelledby="data-keuangan-acc"
          data-parent="#profileAccordion"
        >
          <div class="card-body">TRJTRDJTRD</div>
        </div>
        <div
          id="collapseFour"
          class="collapse"
          aria-labelledby="jadwal-kuliah-acc"
          data-parent="#profileAccordion"
        >
          <div class="card-body">Kuliahhhh</div>
        </div>
      </div>
      <!-- 4 Accordion - End -->
    </div>
    <!-- Outer Card Body - End -->
  </div>
</div>

<%- include("../../../partials/footer") %>
