<div class="row">
  <div class="col-1">
    <%= hari %>
  </div>
  <div class="col-1">
    <%= kode %>
  </div>
  <div class="col-4">
    <%= mataKuliah %>
  </div>
  <div class="col-1">
    <%= kelas %>
  </div>
  <div class="col-2">
    <%= ruangan %>
  </div>
  <div class="col-2">
    <%= pukul %>
  </div>
  <div class="col-1">
    <%= sks %>
  </div>
</div>