<form class="my-4 form-inline" action="/absensi" method="get">
  <div class="form-group">
    <label for="semester" class="font-weight-bold">Semester:  </label>
    <select class="mr-md-5 ml-md-3 form-control" name="semester" id="">
      <% for(let i = 1; i <= 8; i++) { %>
        <option value="<%= i %>" <% if (filterSemester == i) { %> <%= selected="selected" %>  <% }%> ><%= i %></option>
      <% } %>
    </select>
  </div>
  <button type="submit" class="btn btn-success d-block"> 
    <i class="fa fa-filter" aria-hidden="true"></i>
    Filter
   </button>
</form>

<div class="table-responsive">
  <table class="table table-sm table-hover table-bordered text-center" style="font-size: 0.8rem; min-width: 1000px">
    <thead style="background: #094584;color: white">
      <tr>
        <th class="align-middle" scope="row" rowspan="2">No</th>
        <th class="align-middle" scope="row" rowspan="2">Kode</th>
        <th class="align-middle" scope="row" rowspan="2">Nama Mata Kuliah</th>
        <th class="align-middle" scope="row" colspan="<%= maxPertemuan %>">Pertemuan Ke</th>
        <th class="align-middle" scope="row" rowspan="2">Kehadiran</th>
        <th class="align-middle" scope="row" rowspan="2">%</th>
        <th class="align-middle" scope="row" rowspan="2">SKS</th>
      </tr>
      <tr>
        <% for(let i = 1; i <= maxPertemuan; i++) { %>
          <td><%= i %></td>
        <% } %>
      </tr>
    </thead>
    <tbody style="font-size: 0.9rem">
      <% if(currentClassEnroll) { %>
        <% currentClassEnroll.class_enroll_subjects.forEach((item, idx) => { %>
          <tr>
            <td><%= idx + 1 %></td>
            <td><%= item.subject_code %></td>
            <td class="text-left">
              <strong><%= item.subject.name %></strong>
              <%= item.day %>,
              <%= item.start_time.substring(0,5) %>-<%= item.end_time.substring(0,5) %>
              [<%= item.lecturer.name %>]
            </td>
            <% let kehadiran = 0, maxKehadiran = 0 %>
            <% if(maxPertemuan) { %>
              <% for(let i = 1; i <= maxPertemuan; i++) { %>
                <% if(item.attendances[i]) { %>
                  <% attendance = item.attendances[i] %>
                  <% if (attendance.status === 1) { %>
                    <td style="background-color: #4d70b7; color: white">H</td>
                    <% kehadiran++;maxKehadiran++ %>
                  <% } else if (attendance.status === 2) { %>  
                    <td style="background-color: red; color: white">A</td>
                    <% maxKehadiran++ %>
                  <% } %>
                <% } else { %>
                  <td>-</td>
                <% } %>

              <% } %>
            <% } else { %>
              <td>-</td>
            <% } %>
            
            <td><%= kehadiran %> / <%= maxKehadiran %></td>
            <td style="color: blue">
              <% if (maxKehadiran == 0) { %>
                100 %
              <% } else { %>
                <%= Math.ceil(kehadiran/maxKehadiran * 100) %> %
              <% } %>
            </td>
            <td><%= item.sks  %></td>
          </tr> 
        <% }) %>
      <% } else { %>
        Data Tidak Ditemukan
      <% } %>
    </tbody>
  </table>
</div>

<script>
  const formButtonFunc = () => {
    var width = $(window).width();
    if (width > 767) {
      $('form').addClass('form-inline')
      $('button').removeClass('btn-block')
    } else {
      $('form').removeClass('form-inline')
      $('button[type=submit]').addClass('btn-block')
    }
  };
  $(window).resize(formButtonFunc);
  formButtonFunc();
</script>