
<div class="card _profile-accordion-header-card">
  <div id="<%= id %>">
    <h2 class="mb-0">
      <button
        class="
          btn btn-link
          _profile-accordion-button
          btn-block
          text-left
          p-3
        "
        type="button"
        data-toggle="collapse"
        data-target="#<%= target %>"
        aria-expanded="<%= expanded %>"
        aria-controls="<%= target %>"
      >
       <span class="d-md-none">+</span> <%= value %>
      </button>
    </h2>
  </div>
</div>