<%- include("../../../partials/header") %>
<%- include("../../../components/Header/admin") %>

<div class="container-fluid container-md px-0">
  <%- include("../../../components/Global/breadcrumb", {items: [
    {
      url: "/admin",
      label: "Home",
    },
    {
      label: "Ruangan",
    },
    ]}) 
  %>
  <%- include("../../../components/Global/current-admin", {currentAdmin}) %>
  <div class="card">
    <div class="card-header" style="background-color: #094584; color: white">
      <h4 class="card-title mb-0"> Ruangan </h4>
    </div>
    <div class="card-body py-0">
      <!-- Add Section - Start -->
        <div class="text-right mt-3">
          <button class="btn btn-success" data-toggle="modal" data-target="#_add-room-modal-container">
            <i class="fa fa-plus"></i>
          </button>
        </div>
        <!-- Add Modal - Start -->
        <div class="modal fade" id="_add-room-modal-container" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title"> Create Room </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <form id="_add-room-form-tag">
                <div class="modal-body">
                    <div class="form-group">
                      <input class="form-control" type="text" id="_add-room" name="name" required />
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button id="_add-room-btn" type="submit" class="btn btn-success" data-dismiss="modal"> Create </button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- Add Modal - End -->
      <!-- Add Section - End -->

      <div class="row">
        <div class="col-12 pb-md-5 pt-2 pt-md-3">
          <!-- table - start -->
          <div class="table-responsive">
            <table class="table table-sm table-hover table-bordered text-center" style="font-size: 0.8rem;min-width:1000px">
              <thead>
                <tr style="background: #094584;color: white">
                  <th scope="col">Nama</th>
                  <th scope="col">Created At</th>
                  <th scope="col">Updated At</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody style="font-size: 0.9rem">
                <% rooms.forEach((room, idx) => { %>
                  <tr class="_room-row-container" data-id="<%= room.name %>" >
                    <td class="align-middle"> <%= room.name %> </td>
                    <td class="align-middle"> <%= new Date(room.created_at).toLocaleDateString('en-GB', {day: "numeric",month: "long", year: "numeric"}) %> </td>
                    <td class="align-middle"> <%= room.updated_at || "-" %> </td>
                    <!-- Delete Button - Start -->
                    <td>
                      <button class="btn btn-danger" data-toggle="modal" data-target="._delete-modal-container[data-id='<%= room.name %>']">
                        <i class="fa fa-trash"></i>
                      </button>

                      <!-- Delete Modal - Start -->
                      <div class="modal fade _delete-modal-container" data-id="<%= room.name %>" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title">Delete <%= room.name %> </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                              Are you sure ?
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              <button data-id="<%= room.name %>" type="submit" class="btn btn-danger" data-dismiss="modal">Delete</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Delete Modal - End -->

                    </td>
                    <!-- Delete Button - End -->
                  </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
          <!-- table - end -->

          <div id="sync-pagination" class="d-flex justify-content-center mt-3"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $('#sync-pagination').twbsPagination({
    totalPages: parseInt("<%= totalPage %>"),
    visiblePages: 4,
    initiateStartPageClick: false,
    startPage: parseInt("<%= page %>"),
    onPageClick: function (evt, page) {
      window.location.replace(window.location.href.split("?")[0] + "?page=" + page);
    },
  });
</script>

<%- include("../../../partials/footer") %>
<%- include("./script") %>
