<%- include("../../../partials/header") %>
<%- include("../../../components/Header/admin") %>

<div class="container-fluid container-md px-0">
  <%- include("../../../components/Global/breadcrumb", {items: [
    {
      url: "/admin",
      label: "Home",
    },
    {
      url: `/admin/classes`,
      label: "Kelas",
    },
    {
      url: `/admin/classes/${classEnroll.class_id}/enroll`,
      label: "Enroll",
    },
    {
      url: `/admin/class_enrolls/${classEnroll.id}`,
      label: classEnroll.id,
    },
    {
      label: "Students",
    },
    ]}) 
  %>
  <%- include("../../../components/Global/current-admin", {currentAdmin}) %>
  <div class="card">
    <div class="card-header" style="background-color: #094584; color: white">
      <h4 class="card-title mb-0">Kelas <%= classEnroll.class.name %> (<%= classEnroll.start_year %>) / <%= semester %></h4>
    </div>
    <div class="card-body py-0">
      <!-- Add Section - Start -->
      <%- include("./student-modal") %>
      <!-- Add Section - End -->

      <div class="row">
        <div class="col-12 pb-md-5 pt-2 pt-md-3">
          <!-- table - start -->
          <div class="table-responsive">
            <table class="table table-sm table-hover table-bordered text-center" style="font-size: 0.8rem">
              <thead>
                <tr style="background: #094584;color: white">
                  <th scope="col">NIM</th>
                  <th scope="col">Nama</th>
                  <th scope="col">Jenis Kelamin</th>
                  <th scope="col">Email</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody style="font-size: 0.9rem">
              <% classEnroll.students.forEach((student, idx) => { %>
                <tr>
                  <td class="align-middle"> 
                    <a href="/admin/students/<%= student.nim %>">
                      <%= student.nim %>
                    </a>
                  </td>
                  <td class="align-middle"> <%= student.name %></td>
                  <td class="align-middle"> <%= student.sex === "L" ? "Laki-Laki" : "Perempuan" %> </td>
                  <td class="align-middle"> <%= student.email %> </td>
                  <td>
                    <!-- Remove Student From Class - Start -->
                    <button class="btn btn-danger" data-toggle="modal" data-target="#_remove-student-modal-<%= idx %>">
                      <i class="fa fa-trash"></i>
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="_remove-student-modal-<%= idx %>" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title">Remove <%= student.name %> (<%= student.nim %>) </h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                          </div>
                          <div class="modal-body text-left h5">
                            Are you sure ?
                          </div>
                          <div class="modal-footer justify-content-start">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button id="_remove-student-btn-<%= idx %>" type="button" class="btn btn-danger" data-dismiss="modal">Delete</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Remove Student From Class - End -->
                  </td>
                </tr>
                
                <script>
                  $("#_remove-student-btn-<%= idx %>").click(function() {
                    $.ajax({
                      url: "/admin/class_enrolls/<%= classEnroll.id %>/students/<%= student.nim %>",
                      type: "DELETE",
                      success: function() {
                        window.location.reload();
                      },
                      error: function() {
                        new SnackBar({
                          message: "Internal Server Error",
                          status: "error",
                          timeout: 5000,
                          position: "bl",
                          fixed: true,
                        });
                      }
                    });
                  });
                </script>
                <% }) %>
              </tbody>
            </table>
          </div>
          <!-- table - end -->

          <div id="sync-pagination" class="d-flex justify-content-center mt-3"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $('#sync-pagination').twbsPagination({
    totalPages: parseInt("<%= totalPage %>"),
    visiblePages: 4,
    initiateStartPageClick: false,
    startPage: parseInt("<%= page %>"),
    onPageClick: function (evt, page) {
      window.location.replace(window.location.href.split("?")[0] + "?page=" + page);
    },
  });
</script>

<%- include("../../../partials/footer") %>
