<%- include("../../partials/header") %>
<%- include("../../components/Header/admin") %>

<div class="container-fluid container-md px-0">
  <%- include("../../components/Global/breadcrumb", {items: [
    {
      label: "Home",
    },
    ]}) 
  %>
  <%- include("../../components/Global/current-admin", {currentAdmin}) %>
  <div class="text-right">
    <a href="/admin/berita/create" class="btn btn-success m-3">
      <i class="fa fa-plus" aria-hidden="true"></i>
    </a>
  </div>
  <div class="card">
    <div class="card-header" style="background-color: #094584; color: white">
      <h4 class="card-title mb-0">Berita</h4>
    </div>
    <div class="card-body py-0">
      <div class="row">
        <% news.forEach((berita) => { %>
          <%- include("./berita-card", {berita: berita}) %>
        <% }) %>
      </div>
    </div>
  </div>
  <div id="sync-pagination" class="d-flex justify-content-center mt-3"></div>
</div>

<script>
  $('#sync-pagination').twbsPagination({
    totalPages: parseInt("<%= totalPage %>"),
    visiblePages: 4,
    initiateStartPageClick: false,
    startPage: parseInt("<%= page %>"),
    onPageClick: function (evt, page) {
      window.location.replace(window.location.href.split("?")[0] + "?page=" + page);
    },
  });
</script>

<%- include("../../partials/footer") %>
<%- include("./script") %>
