<%- include("../../partials/header") %> <%-
include("../../components/Header/student") %>
<script src="//cdn.ckeditor.com/4.17.1/standard/ckeditor.js"></script>

<div class="container-fluid container-md px-0">
  <%- include("../../components/Global/current-admin", {currentAdmin}) %>
  <div class="card">
    <div class="card-header" style="background-color: #094584; color: white">
      <h4 class="card-title mb-0">Berita Baru</h4>
    </div>
    <div class="card-body py-0">
      <div class="row">
        <form id="_berita-create-form" class="col-12" action="/admin/berita/insert" method="post">
          <div class="form-group">
            <input class="my-3 form-control" name="title" id="title1"  placeholder="Title ..."/>
          </div>
          <div class="form-group">
            <label for="category"> Category: </label>
            <select name="category" id="category">
              <% categories.forEach((category) => { %>
                <option value="<%= category.name %>"> <%= category.name %> </option>
              <% }) %>
            </select>
          </div>
          <!-- <input class="my-3 form-control" name="category" id="category1"  placeholder="Category"/> -->

          <label for="editor1"> Content: </label>
          <textarea name="editor1" id="editor1" ></textarea>
          <script>
              CKEDITOR.replace( 'editor1' );
          </script>
          <button type="submit" class="btn btn-success my-2"  >
            Create
          </button>
        </form>
        
    </div>
  </div>
</div>

<%- include("../../partials/form") %>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js" integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    new window.JustValidate("#_berita-create-form", {
      submitHandler: function (form, values, ajax) {
        for(instance in CKEDITOR.instances){
          CKEDITOR.instances[instance].updateElement();
        }
        values.editor1 = $("#editor1").val();
        ajax({
          url: form.action,
          method: "POST",
          data: JSON.stringify(values),
          async: true,
          dataType: "json",
          callback: function (response) {
            window.location.replace("/admin");
          },
          error: function (response) {
            alert("AJAX submit error! \nResponse from server:" + response);
          },
        });
      },

      invalidFormCallback: function (errors) {
        console.log(errors);
      },
    });
</script>

<%- include("../../partials/footer") %>
