<%- include("../../partials/header") %> <%-
include("../../components/Student/header") %>

<div class="container-fluid container-md px-0">
  <%- include("../../components/Global/current-admin", {currentAdmin}) %>
  <div class="card">
    <div class="card-header" style="background-color: #094584; color: white">
      <h5 class="card-title mb-0"><%= berita.title %></h4>
    </div>
    <div class="card-body py-0">
      <div class="container-fluid my-3">
        <h5>Published: 
          <% beritaDate = new Date(berita.createdAt) %> 
          <%=
          beritaDate.toLocaleDateString('en-GB', { day: 'numeric', month: 'long',
          year: 'numeric' }) + " " + beritaDate.getHours() + ":" +
          beritaDate.getMinutes() + ":" + beritaDate.getSeconds() %>  
        </h5>
        <h5>
          Kategori: <%= berita.newsCategoriesName %>
        </h5>
        <div>
          <%- berita.content %>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("../../partials/footer") %>
